In [1]:
from laliga_players_by_team import data
import pandas as pd

In [2]:
teamData = data.copy()

In [3]:
def cleanup():
    data2 = []
    data3 = []
    data = teamData[2::3]
    for i in data:
        data2.append(i.strip())

    for i in data2:
        data3.append(i.split('\n'))

    #can be modified depending on size of team
    data3 = data3[:26]
    

    return data3

data3 = cleanup()

In [4]:
df = pd.DataFrame(data3, columns=['number', 'name', 'position', 'age', 'market_value'])
df = df.drop(25)

In [5]:
for index in df.itertuples():
    if len(index[4].split('€')) == 1:
        df['age'][index[0]] = index[4].split('€')[0]

    if len(index[4].split('€')) > 1:
        df.market_value[index[0]] = index[4].split('€')[1]
        df['age'][index[0]] = index[4].split('€')[0]

In [6]:
df.market_value = df.market_value.str.replace('€', '').str.replace('Th.', '').str.replace('m', '')
df.market_value = pd.to_numeric(df.market_value, downcast='float')
df.market_value[2] = 0.4

<ipython-input-6-cb3c181eb3ed>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.market_value = df.market_value.str.replace('€', '').str.replace('Th.', '').str.replace('m', '')
<ipython-input-6-cb3c181eb3ed>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.market_value[2] = 0.4

In [7]:
df['birthday'] = None

for index in df.itertuples():
    df.birthday[index[0]] = index[4].split('(')[0]

for index in df.itertuples():
    df.age[index[0]] = index[4].split('(')[1].replace(')', '')

df.birthday = pd.to_datetime(df.birthday)

<ipython-input-7-162cd8ce1049>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.birthday[index[0]] = index[4].split('(')[0]
<ipython-input-7-162cd8ce1049>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.age[index[0]] = index[4].split('(')[1].replace(')', '')

In [8]:
df

   number               name            position  age  market_value   birthday
0      13               Bono          Goalkeeper   29          15.0 1991-04-05
1       1       Tomas Vaclík          Goalkeeper  31            8.0 1989-03-29
2      31          Javi Díaz          Goalkeeper  23            0.4 1997-05-15
3      12       Jules Koundé         Centre-Back   22          50.0 1998-11-12
4      20       Diego Carlos         Centre-Back  27           50.0 1993-03-15
5       3        Sergi Gómez         Centre-Back  28            3.5 1992-03-28
6       4        Karim Rekik         Centre-Back   26           3.5 1994-12-02
7       2      Joris Gnagnon         Centre-Back   24           2.5 1997-01-13
8      19       Marcos Acuña           Left-Back  29           14.0 1991-10-28
9      18    Sergio Escudero           Left-Back  31            3.0 1989-09-02
10     16       Jesús Navas           Right-Back  35            3.0 1985-11-21
11     17        Aleix Vidal          Right-Back  31            2.0 1989-08-21
12      6     Nemanja Gudelj  Defensive Midfield   29           6.0 1991-11-16
13     25     Fernando Reges  Defensive Midfield   33           4.0 1987-07-25
14      8        Joan Jordán    Central Midfield  26           25.0 1994-07-06
15     21      Óliver Torres    Central Midfield  26           13.0 1994-11-10
16     10       Ivan Rakitic    Central Midfield   33          10.0 1988-03-10
17     14    Óscar Rodríguez  Attacking Midfield  22           12.0 1998-06-28
18     22     Franco Vázquez  Attacking Midfield   32           5.0 1989-02-22
19      5      Lucas Ocampos         Left Winger  26           45.0 1994-07-11
20      7               Suso        Right Winger  27           17.0 1993-11-19
21     24         Papu Gómez      Second Striker   33          15.0 1988-02-15
22     15  Youssef En-Nesyri      Centre-Forward  23           15.0 1997-06-01
23      9       Luuk de Jong      Centre-Forward  30           12.0 1990-08-27
24     11   Munir El Haddadi      Centre-Forward   25          10.0 1995-09-01